@model ListagemPrestadoresModel

@{
    ViewData["Title"] = "View";
}

<div id="filtro-listagem-veiculo">
    <div class="row">
        <div class="col-md-12 section-header" style="text-align: left; border-bottom: 1px solid; border-bottom-color: #eaeaea; padding-bottom:10px;">
            <h3 class="title">
                Listagem de Prestadores
            </h3>
        </div>
    </div>
</div>
<br />
<br />

<div class="row">
    <div class="form-group">
        <div class="row">
            <div class="col-md-8" style="padding-top: 10%;">
                <div class="row">
                    <div class="col-md-6" style="vertical-align: middle;">
                        <label asp-for="Especialidade" class="control-label">Especialidade</label>
                    </div>
                    <div class="col-md-6">
                        <input asp-for="Especialidade" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="padding-top: 10%;">
                <button href="#" id="filtro-data" class="btn btn-info" style="padding-left: 5%;">
                    <span class="glyphicon glyphicon-star-empty">Filtrar</span>
                </button>
                <a href='@Url.Action("CadastrarPrestador", "CadastroPrestador")'>
                    <input type='button' class="btn btn-success" value='+Novo' />
                </a>
            </div>
        </div>
    </div>
</div>
<br />
<br />

<div id="grid-listagem-prestadores" style="overflow-x: scroll;">
    @Html.Partial("_GridPrestadores", Model)
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
    var URL_FILTRO_ESPECIALIDADE = '@Url.Action("Index", "CadastroPrestador")';

    $(document).ready(function () {
        $("#filtro-data").click(function () {
            if ($("#Especialidade").val()) {
                var especialidade = $("#Especialidade").val();
                location.href = URL_FILTRO_ESPECIALIDADE + "?termo=" + especialidade;
            }
        });


    });
</script>

