@{
    ViewData["Title"] = "Atendimento Concluído";
}

<h1>Atendimento Concluido!</h1>
<h3>Agradecemos a preferência.</h3>

<div>
    <a asp-action="Index" asp-controller="CadastroPrestador"> Novo Atendimento? Clique Aqui para conferir nossos Prestadores.</a>
</div>