@model RegistroAtendimentoModel

@{
    ViewData["Title"] = "View";
}

<div id="filtro-listagem-veiculo">
    <div class="row">
        <div class="col-md-12 section-header" style="text-align: left; border-bottom: 1px solid; border-bottom-color: #eaeaea; padding-bottom:10px;">
            <h3 class="title">
                Registro de Atendimento
            </h3>
        </div>
    </div>
</div>
<br />
<br />

<div class="form-group">
    <div class="row">
        <div class="col-md-4">
            <label class="control-label">Prestador</label>
        </div>
        <div class="col-md-7">
            <label asp-for="Prestador.Nome">@(Model?.Prestador?.Nome)</label>
            <input asp-for="Prestador.Documento" type="hidden" />
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-md-4">
            <label class="control-label">Nome Associado</label>
        </div>
        <div class="col-md-7">
            <input asp-for="NomeAssociado" class="form-control" />
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-md-4">
            <label class="control-label">CPF do Associado</label>
        </div>
        <div class="col-md-7">
            <input asp-for="DocumentoAssociado" class="form-control" />
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-md-4">
            <label asp-for="DataAtendimento" class="control-label"></label>
        </div>
        <div class="col-md-3">
            <input asp-for="DataAtendimento" class="form-control" />
            <span asp-validation-for="DataAtendimento" class="text-danger"></span>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="row">
        <div class="offset-sm-1 col-sm-3">
            <label asp-for="ValorConsulta" class="control-label">Valor Consulta</label>
        </div>
        <div class="col-sm-3">
            <input asp-for="ValorConsulta" class="form-control" />
            <span asp-validation-for="ValorConsulta" class="text-danger"></span>
        </div>
        <div class="col-sm-2">
            <label asp-for="ValorCoparticipacao" class="control-label">Coparticipação</label>
        </div>
        <div class="col-sm-2">
            <input asp-for="ValorCoparticipacao" class="form-control" disabled="disabled" />
            <span asp-validation-for="ValorCoparticipacao" class="text-danger"></span>
        </div>
    </div>
</div>

<br />
<br />

<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <center>
                    <a href='@Url.Action("CadastrarPrestador", "CadastroPrestador")'>
                        <input type='button' class="btn btn-success" value='Salvar Atendimento' />
                    </a>
                </center>
            </div>
        </div>
    </div>
</div>

<br />
<br />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script>

    var URL_FILTRO_DATA = '@Url.Action("ListarPorPeriodo", "ListagemAluguel")';
    var URL_CALCULO_COPARTICIPACAO = '@Url.Action("CalcularCoparticipacao", "Atendimento")';

    $(document).ready(function () {

        $("#ValorConsulta").change(function () { 
            if ($("#Prestador_Documento").val() && $("#DocumentoAssociado").val() && $("#ValorConsulta").val()) {

                var data = {
                    doctoPrestador: $("#Prestador_Documento").val(),
                    doctoAssociado: $("#DocumentoAssociado").val(),
                    valorConsulta: parseFloat($("#ValorConsulta").val())
                }
                chamadaGET(URL_CALCULO_COPARTICIPACAO, data, retornoCoparticipacao);
            }
        });

        function aoClicarEmFiltrar() {
            var data = {
                periodoInicio: $('#PeriodoInicio').val(),
                periodoFinal: $('#PeriodoFinal').val()
            }
            chamadaGET(URL_FILTRO_DATA, data, ListarPorPeriodoSucesso);
        }

        function retornoCoparticipacao(data) {
            if (data) {
                $('#ValorCoparticipacao').val(data);
            }
        }

        function ListarPorPeriodoSucesso(data) {
            if (data) {
                $('#grid-listagem-luguel').html(data);
                $('#grid-listagem-luguel').load();
            }
        }
    });
</script>

